<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
<title>BookApp</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}
html,
body,
header,
#intro {
    height: 100%;
}



.navbar-nav.navbar-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
}
.cmatch-team1 {
    font-weight: bold;
}
.cmatch-team2 {
    font-weight: bold;

}
.navbar 
{
border-bottom: solid 3px white;
}
#nav-color
{
	background-color: #75e900;
	
}
#search-btn
{
	background-color:black;
	color:white;
}
</style>
</head>
<body onload="checkUser();displayResults(response);fav(title,a,i);favRec(title,a,i);function formatOutput(bookImg, title, author, publisher, bookLink, bookIsbn);modifyRecom(id,btn)">

<nav class="navbar navbar-expand-lg  fixed-top navbar navbar-expand-lg navbar-light bg-dark" >
		<a class="navbar-brand" href="./" style="color: white;"> <img src="./img/dd64da585bc57cb05e5fd4d8ce873f57.png"
			width="30" height="30" alt="logo"> BookApp
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar-list-4" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<form class="form-inline mt-2 mt-md-0" method="get" action="./search">
			<input class="form-control mr-md-2" type="text"
				placeholder="Search for Books.... "id="search-box" name="search"
				aria-label="Search" required>
			<button id="search" class="btn btn-warning my-2 my-sm-0"
				type="submit">Search</button>
				<a href="/favourite">
				Favourites</a>
			&nbsp;
				<a href="/recommendation">Recommendations</a> 
		</form>
		<!-- <div class="collapse navbar-collapse" id="navbar-list-4">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> <img id="icon"
						src="./img/dp.webp" width="50" height="50" class="rounded-circle">
				</a>
					<div class="dropdown-menu" id="profile_options"
						aria-labelledby="navbarDropdownMenuLink"></div></li>
			</ul>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</div> -->
	</nav>
	
	
	<!--Mask-->
     <div id="intro" class="view">

        <div class="mask rgba-black-strong ">

            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                <div class="row d-flex justify-content-center text-center">

                    <div class="col-md-10">
                    <br><br><br>

                        <div class="book-list" >
    						<h2 class="text-center">Search Result</h2>
   							 <div id="list-output" class="">
     							 <div class="row">
       								 <!-- card  -->

     									 </div>

   									 </div>
 								 </div>                       
                    </div>

                </div>

            </div>

        </div>

    </div>


</body>
<script>
function checkUser() {
	$
			.ajax({
				type : "GET",
				url : "./getUser",
				success : function(response) {

					if (response.hasOwnProperty("Email")) {

						$("#profile_options")
					.html('<a class="dropdown-item" href="./myprofile">Edit Profile</a><a class="dropdown-item" href="./favourite">Favourite</a><a class="dropdown-item" href="./recommendation">Recommendations</a><a class="dropdown-item" href="./logout">Sign Out</a>');					
						$("#icon").attr("src","./img/"+response["img"]);
					} else {
						$("#profile_options")
						.html(' <a class="dropdown-item" href="./SignUp">SignUp</a><a class="dropdown-item" href="./login">Login</a>');
				}},
				error : function(data) {
					$("#profile_options")
					.html(' <a class="dropdown-item" href="./SignUp">SignUp</a><a class="dropdown-item" href="./login">Login</a>');
	
				}
			});

}
$(document).ready(function() {
	  var item, tile, author, publisher, bookLink, bookImg;
	  var outputList = document.getElementById("list-output");
	  var bookUrl = "https://www.googleapis.com/books/v1/volumes?q=";
	  var apiKey = "key=AIzaSyDtXC7kb6a7xKJdm_Le6_BYoY5biz6s8Lw";
	  var placeHldr = '<img src="https://via.placeholder.com/150">';
	  var searchData;

	  //listener for search button
	  $("#search").click(function() {
	    outputList.innerHTML = ""; //empty html output
	    document.body.style.backgroundImage = "url('')";
	     searchData = $("#search-box").val();
	     //handling empty search input field
	     if(searchData === "" || searchData === null) {
	       displayError();
	     }
	    else {
	       // console.log(searchData);
	       // $.get("https://www.googleapis.com/books/v1/volumes?q="+searchData, getBookData()});
	       $.ajax({
	          url: bookUrl + searchData,
	          dataType: "json",
	          success: function(response) {
	            console.log(response)
	            if (response.totalItems === 0) {
	              alert("no result!.. try again")
	            }
	            else {
	              $("#title").animate({'margin-top': '5px'}, 1000); //search box animation
	              $(".book-list").css("visibility", "visible");
	              displayResults(response);
	            }
	          },
	          error: function () {
	            alert("Something went wrong.. <br>"+"Try again!");          }
	        });
	      }
	      $("#search-box").val(""); //clearn search box
	   });

	   /*
	   * function to display result in index.html
	   * @param response
	   */
	   function displayResults(response) {
	      for (var i = 0; i < response.items.length; i+=2) {
	        item = response.items[i];
	        title1 = item.volumeInfo.title;
	        author1 = item.volumeInfo.authors;
	        publisher1 = item.volumeInfo.publisher;
	        bookLink1 = item.volumeInfo.previewLink;
	        bookIsbn = item.volumeInfo.industryIdentifiers[1].identifier
	        bookImg1 = (item.volumeInfo.imageLinks) ? item.volumeInfo.imageLinks.thumbnail : placeHldr ;

	        item2 = response.items[i+1];
	        title2 = item2.volumeInfo.title;
	        author2 = item2.volumeInfo.authors;
	        publisher2 = item2.volumeInfo.publisher;
	        bookLink2 = item2.volumeInfo.previewLink;
	        bookIsbn2 = item2.volumeInfo.industryIdentifiers[1].identifier
	        bookImg2 = (item2.volumeInfo.imageLinks) ? item2.volumeInfo.imageLinks.thumbnail : placeHldr ;

	        // in production code, item.text should have the HTML entities escaped.
	        outputList.innerHTML += '<div class="row mt-4">' +
	                                formatOutput(bookImg1, title1, author1, publisher1, bookLink1, bookIsbn) +
	                                formatOutput(bookImg2, title2, author2, publisher2, bookLink2, bookIsbn2) +
	                                '</div>';

	        console.log(outputList);
	      }
	   }

	   /*
	   * card element formatter using es6 backticks and templates (indivial card)
	   * @param bookImg title author publisher bookLink
	   * @return htmlCard
	   */
	   function formatOutput(bookImg, title, author, publisher, bookLink, bookIsbn) {
	     // console.log(title + ""+ author +" "+ publisher +" "+ bookLink+" "+ bookImg)
	     var viewUrl = 'book.html?isbn='+bookIsbn; //constructing link for bookviewer
	     var htmlCard = `<div class="col-lg-6">
	       <div class="card" style="">
	         <div class="row no-gutters">
	           <div class="col-md-4">
	             <img src="${bookImg}" class="card-img" alt="...">
	           </div>
	           <div class="col-md-8">
	             <div class="card-body">
	               <h5 class="card-title">${title}</h5>
	               <p class="card-text">Author: ${author}</p>
	               <p class="card-text">Publisher: ${publisher}</p>
	               
	              <a class="btn btn-secondary" onclick="fav('${title}','${author}','${bookImg}')">Add to favourites</a><br><br>
	              <a class="btn btn-secondary" onclick="rec('${title}','${author}','${bookImg}')">Add to Reccommend</a>
	             </div>
	           </div>
	         </div>
	       </div>
	     </div>`

	     return htmlCard;
	   }
	 // onclick=\"(canLaunch(\'' + v.LibraryItemName  + '\'))"\
	   //handling error for empty search box              onclick="{fav(${title})}
	   function displayError() {
	     alert("search term can not be empty!")
	   }
	//${title}, ${author}, ${publisher},${bookImg}
	});
	//title, author, publisher,bookImg
	function fav(title,a,i){
	  book={bookName:title , bookAuthor:a , bookImage:i};
	  fetch('http://localhost:8080/addfavourites', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json;charset=utf-8'
				},
				body: JSON.stringify( book )
	    })
	    .then(res=>console.log(book));
		console.log(title);
		console.log(a);
	 	console.log(i);
	}
	
	function rec(title,a,i){
		  book={recbookName:title , recbookAuthor:a , recbookImage:i};
		  fetch('http://localhost:8080/addrecommendations', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify( book )
		    })
		    .then(res=>console.log(book));
			console.log(title);
			console.log(a);
		 	console.log(i);
		}


function modifyRecom(id,btn){
	var req="";
	var URL="";
	if($("#recom_"+btn).is(":checked")){
		req="PUT";
		URL="./AddToMyMatches/"+id;
		$("#lab_"+btn).html("UnRecommend");
	}else{
		req="DELETE";
		URL="./deleteMatch/"+id;
		$("#lab_"+btn).html("Recommend");
	}
	
	
	$
	.ajax({
		type : req,
		url : URL,
		success : function(response) {

			if (!response.hasOwnProperty("Error")) {
				
					
				
			}
				
			 else {
				 alert("Please login to save Books");
				
					}},
		error : function(data) {
			alert("Please Try Again");
			}
	});
}
function checkURIParam(name) {
	var results = new RegExp('[\?&]' + name + '=([^&#]*)')
			.exec(window.location.href);
	return results[1] || 0;
}
</script>
</html>
